Productos.dtd

<!ELEMENT Productos (Producto+)>
<!ELEMENT Producto (Raton | Teclado | Monitor)>
<!ELEMENT Raton (Codigo, Nombre?, Descripcion?)>
<!ELEMENT Teclado (Codigo, Nombre?, Descripcion?)>
<!ELEMENT Monitor (Codigo, Nombre?, Descripcion?)>
<!ELEMENT Nombre (#PCDATA)>
<!ELEMENT Descripcion (#PCDATA)>
<!ELEMENT Codigo (#PCDATA)>